body {
    background-color: #fffaf3;
}



h1 {
    text-align: center
}

#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav > a {
    text-decoration: none;
    text-align: center;
    width: 150px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 12px;
}

#nav > a:hover {
    background-color: #f5e8da;
}
  

#header {
    text-align: center;
    max-width: 600px;
    margin: 12px auto;
}

#name {
    color: rgb(84, 79, 79);
}

#profile-picture {
    display: block;
    margin: auto;
    width: 20%;
    border-radius: 8px;
}
  
#nav-gallery {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 30px auto;
}
  
.nav-item {
    text-align: center;
}
  
.nav-item a {
    display: block;
    text-decoration: none;
    width: 150px;
    margin: 8px auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 12px;
}
  
.nav-item a:hover {
    background-color: #f5e8da;
}
  
.nav-item img,
.gallery img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    border: 5px solid rgb(223, 197, 197);
}

#banner {
    width: 100%;
    height: 50vh;           
    background-image: url("photosss/background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  
#profile-picture {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 6px solid white;
    object-fit: cover;
}
  